#tableTab tr {
  color: darkgray;
}

#tableTab tr:hover {
  background-color: #2d2a28;
}

a.page-link {
  color: darkgray;
  border-color: darkgray;
  background: none;
}

a.page-link:hover {
  background-color: #2d2a28;
  color: white;
}


/* analytics style */

#chartTab {
  margin-top: 30px;
  margin-bottom: 30px;
  color: #a3a3a3;
}

#chartTab h5 {
  margin-top: 100px;
}

#chartTab h6 {
  margin-top: 40px;
}

#chartTab ul {
  list-style: none;
}

.foo {
  float: left;
  width: 10px;
  height: 10px;
  margin: 5px;
  border: 1px solid #a3a3a3;
}


/* Button colors */

a#chartBtn.nav-link.active {
  color: white;
  background-color: blue;
}

a#chartBtn.nav-link {
  color: blue;
}

a#tableBtn.nav-link.active {
  color: white;
  background-color: #ff7a41;
}

a#tableBtn.nav-link {
  color: #ff7a41;
}


/* table */

a.list-group-item {
  background-color: #1f2023;
}

a.list-group-item:hover {
  background-color: #333333;
}

small.row.ng-binding {
  text-align: right
}


/* Button colors ends */


/* JUMBOTRON BOOTSTRAP STUFF START */


/* Space out content a bit */

body {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background-color: #1c1e25;
  color: white;
  font-family: "Courier New";
}


/* Everything but the jumbotron gets side spacing for mobile first views */

.header,
.footer {
  padding-right: 1rem;
  padding-left: 1rem;
}


/* Custom page header */

.header {
  padding-bottom: 1rem;
  border-bottom: .05rem solid #e5e5e5;
}


/* Make the masthead heading the same height as the navigation */

.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 3rem;
}


/* Custom page footer */

.footer {
  padding-top: 1.5rem;
  color: #777;
  border-top: .05rem solid #e5e5e5;
}


/* Customize container */

@media (min-width: 1921px).container {
  width: 1920px;
}

.container-narrow>hr {
  margin: 2rem 0;
}


/* Main message*/

.jumbotron {
  text-align: center;
  border-bottom: .05rem solid #e5e5e5;
  background-color: #343745;
  color: #737b83;
  font-family: "Al Tarikh";
}

.jumbotron h2 {
  color: white;
}

.jumbotron .btn {
  padding: .75rem 1.5rem;
  font-size: 1.5rem;
}

#tableTab {
  margin-top: 30px;
}


/* Responsive: Portrait tablets and up */

@media screen and (min-width: 48em) {
  /* Remove the padding we set earlier */
  .header,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 2rem;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}


/* JUMBOTRON BOOTSTRAP END */
