<div id="tableTab">
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th><small><a href="#!/employees?page=1" ng-click="sortData('id')">#</a></small></th>
          <th><small><a href="#!/employees?page=1" ng-click="sortData('first_name')">First Name</a></small></th>
          <th><small><a href="#!/employees?page=1" ng-click="sortData('last_name')">Last Name</a></small></th>
          <th><small><img src="../img/svg/006-mail.svg" height="16px"> <a href="#!/employees?page=1" ng-click="sortData('email')">Email</a></small></th>
          <th><small>   <a href="#!/employees?page=1" ng-click="sortData('gender')">Gender</a></small></th>
          
          <th><small><img src="../img/svg/004-briefcase.svg" height="16px"> <a href="#!/employees?page=1" ng-click="sortData('department')">Department</a></small></th>
          
          
          <th><small><img src="../img/svg/005-mortarboard.svg" height="16px"> <a href="#!/employees?page=1" ng-click="sortData('alma_mater')">Alma Mater</a></small></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat='employee in data' class="small">
          <td>#{{employee.id}}</td>
          <td>{{employee.first_name}}</td>
          <td>{{employee.last_name}}</td>
          <td>{{employee.email}}</td>
          <td>
            <img ng-if="employee.gender=='Male'" src="../img/svg/001-man.svg" height="16px">
            <img ng-if="employee.gender=='Female'" src="../img/svg/002-venus.svg"  height="16px">
          </td>
          
          <td>{{employee.department}}</td>
          <td>{{truncate(employee.alma_mater)}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <nav aria-label="Page navigation example">
    <ul class="pagination small">
      
      <li class="page-item">
        <a ng-if="pageNumber==1" ng-click="prevPage()" class="page-link" href="/#!/employees?page=1">Previous</a>
        <a ng-if="pageNumber!=1" ng-click="prevPage()" class="page-link" href="/#!/employees?page={{pageNumber}}">Previous</a>
        
      </li>
      <li ng-repeat="page in pageNumberList" class="page-item">
        <a class="page-link" ng-click="changePage(page)" href="/#!/employees?page={{page}}">{{page}}</a>
      </li>
      <li class="page-item">
        <a ng-if="pageNumber==50" ng-click="nextPage()" class="page-link" href="/#!/employees?page=50">Next</a>
        <a ng-if="pageNumber!=50" ng-click="nextPage()" class="page-link" href="/#!/employees?page={{pageNumber}}">Next</a>
      </li>
    </ul>
  </nav>



</div>
