<div id="tableTab">
  <ul class="container list-group pagination-sm">
    <div ng-repeat="employee in paginated track by $index">
      <a class="list-group-item list-group-item-action flex-column align-items-start ">
        <div class="row ">
          <div class="col"> 
            <h5 class="mb-1"> 
              <img ng-if="employee.gender=='Male'" src="../img/png/001-man.png" aria-labelledby="Gender:Male" alt="Gender:Male"> 
              <img ng-if="employee.gender=='Female'" src="../img/png/002-venus.png" aria-labelledby="Gender:Female" alt="Gender:Female">
              {{employee.first_name}} {{employee.last_name}}  
              
            </h5>
            <p class="mb-1"><img src="../img/png/005-mortarboard.png"><small> {{employee.alma_mater}}</small></p>
            <p class="mb-1"><img src="../img/png/006-mail.png"> <small>{{employee.email}}</small></p>
          </div>
          <div class="col tableRightColumn">
            
            
            
            <p class="mb-1 text-right"><small>id: {{employee.id}}</small></p>
            <p class="mb-1 text-right"><small>{{employee.department}} Dept.</small> <img src="../img/png/004-briefcase.png"></p>
          </div>
        </div>
      </a>
    </div>
    <nav class="tableNav" aria-label="Page navigation example">
      <ul class="pagination">
        <div ng-repeat="page in pages" pageButtonDirective>
          <li class="page-item"> <a class="page-link" id="page-link-{{page}}" href="#!/tables?page={{page}}" ng-click=setPage(page)>{{page}}</a> </li>
        </div>
      </ul>
    </nav>
  </ul>
</div>